@import url(http://fonts.googleapis.com/css?family=Raleway|Roboto);

body {
	background-image: url('http://i62.tinypic.com/i56we9.png');
	background-repeat: repeat;
	background-color: #000000;
	margin: 0 25% 0 25%; 
}

.container {
	padding: 0 10px 0 10px;
	opacity: 0.6;
	background-color: #ffffff;
}

.projects {
	font-family: Arial;
}

.projects  img{
	float: left;
	margin: 0 20px 0 0;
	border: 5px solid white;
	width: 200px;
	height: 200px;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
}

a {
	display: inline-block;
	text-decoration: none;
	background-color: #000000;
	color: #ffffff;
	width: 100px;
	height: 50px;
	line-height: 3em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 2%;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 350%;
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	font-family: Arial;
	font-size: 150%;
	margin-bottom: 0px;
}

p {
	font-family: Arial;
}

hr { 
	height: 0; 
	border-style: dashed; 
	border-width: 1px 0 0 0; 
	border-color: #000000; 
}